.clear-fix:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	line-height:0;
	visibility:hidden;
}
.clear-fix {
	display:inline-block;
}
html[xmlns] .clear-fix {
	display:block;
}
* html .clear-fix {
	height:1%;
}

body{
	font-size:80%;
	text-align:center;
	position:relative;
	background:url(../img/bg.gif) repeat-x left top #ffffff;
}

p, label, input, td, th, li, textarea, dt, dd, h4, h5, select{
	font-size:100%;
	font-family:Arial,sans-serif;
	color:#333333;
}

p{
	margin:10px 0 10px 0;
	line-height:1.3em;
}

h1{
	font-size:250%;
	font-family:"Myriad Pro","Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-weight:bold;
	margin:0 0 8px 0;
	padding:8px 12px 8px 12px;
	float:left;
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#444444));
	background: -moz-linear-gradient(top,  #666666,  #444444); 
	background: -o-linear-gradient(top,  #666666,  #444444); 
	background-color:#666666;

	-moz-box-shadow:0 0 10px #444444 inset;
	-webkit-box-shadow:0 0 10px #444444 inset;
	box-shadow:0 0 10px #444444 inset;

	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
}
	h1 a{ color:#ffffff; text-decoration:none; }
	h1 a:hover{ color:#f4f4f4; }

h2{
	font-size:210%;
	font-family:"Myriad Pro","Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-weight:normal;
	color:#111111;
	margin:3px 0 10px;
}
	h2 sup{ font-size:40%; }
	h2 sup a{ text-decoration:none; }
	h2 a{ color:#444444; }
	h2.borderless{
		border-bottom:0 none;
	}

h3{
	font-size:180%;
	font-family:"Myriad Pro","Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-weight:normal;
	color:#111111;
	margin:25px 0 10px 0;
}
	h3 a{ color:#444444; }
	h3.borderless{
		border-bottom:0 none;
	}

h4{
	font-size:130%;
	font-family:"Myriad Pro","Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-weight:normal;
	color:#111111;
	margin:10px 0 7px 0;
}
	h4 a{ color:#111111; }

h5{
	font-size:100%;
	font-weight:normal;
	color:#999999;
	margin:10px 0 7px 0;
}
	h5 a{ color:#111111; }

a{
	color:#333333;
	text-decoration:underline;
}

a:hover{
	text-decoration:none;	
}

ul{
	margin:7px 0 15px 18px;
}

	ul li{
		margin:4px 0 4px 0;
		list-style:disc outside;
	}

#wrapper{
	margin:0 auto 0 auto;
	padding:11px 0 20px 0;
	text-align:left;
	width:800px;
}

#body{
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	margin:10px 0 0 0;
	background:#ffffff;
	clear:both;
	-moz-box-shadow:0 0 3px #bbb;
	-webkit-box-shadow:0 0 3px #bbb;
	box-shadow:0 0 3px #bbb;
}

#content{
	padding:10px 17px 14px 17px;
}

#header{
	background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#333333));
	background: -moz-linear-gradient(top,  #555555,  #333333); 
	background: -o-linear-gradient(top,  #555555,  #333333); 
	background-color:#555555;

	border-radius:8px 8px 0 0;
	-webkit-border-radius:8px 8px 0 0;
	-moz-border-radius:8px 8px 0 0;

	-moz-box-shadow:0 2px 4px #BBBBBB;
	-webkit-box-shadow:0 2px 4px #BBBBBB;
	box-shadow:0 2px 4px #BBBBBB;

	height:40px;
	text-align:center;
}
	
	#header form{
		padding:4px 15px 0 0;
		border:0 none;
		background:none;
		float:right;
	}

		#header form label{
			display:none;
		}
		
		#header form div.form-field{
			float:left;
		}
		
		#header form input.input-text{
			float:left;
			width:170px;
			background-color:#444444;
			border:1px solid #222222;
			padding:4px 4px 4px 4px;
			height:19px;
			color:#F1F1F1;
			clear:none;
			border-radius:4px 0 0 4px;
			-webkit-border-radius:4px 0 0 4px;
			-moz-border-radius:4px 0 0 4px;	
		}
			#header form input.input-text:focus{
				background-color:#666666;
				border:1px solid #222222;
			}

		#header form div.form-field-submit{
			-moz-box-shadow:none;
			-webkit-box-shadow:none;
			box-shadow:none;
			border:0 none;
		}

		#header form div.form-field-submit input{
			float:left;
			background-color:#444444;
			border:1px solid #222222;
			padding:0 4px 4px 4px;
			height:29px;
			color:#F1F1F1;
			font-weight:bold;
			clear:none;
			border-radius:0 4px 4px 0;
			-webkit-border-radius:0 4px 4px 0;
			-moz-border-radius:0 4px 4px 0;	
		}

			#header form div.form-field-submit input:hover{ cursor:pointer; }

	#header ul{
		float:right;
		padding:0;
		margin:0;
	}

	#header ul li{
		float:left;
		padding:0;
		margin:0;
		list-style:none;
		list-style:none;
		position:relative;
		font-size:120%;
		font-family:"Myriad Pro","Lucida Sans Unicode","Lucida Grande",sans-serif;
	}

	#header ul li .special{ line-height:0; }

	#header ul li a.image{
		background-position:8px 10px;
		background-repeat:no-repeat;
		padding-left:35px;
	}

	#header ul li a{
		color:#F1F1F1;
		float:left;
		display:block;
		height:29px;
		padding:11px 15px 0 15px;
		text-decoration:none;
	}
	
	#header ul li.last a.main{
		border-radius:0 8px 8px 0;
		-webkit-border-radius:0 8px 8px 0;
		-moz-border-radius:0 8px 8px 0;
	}

		#header ul li.last.hover a.main{
			border-radius:0 8px 0 0;
			-webkit-border-radius:0 8px 0 0;
			-moz-border-radius:0 8px 0 0;
		}

	#header ul li.hover a{ color:#ffffff; background-color:#333333; }

	#header ul li ul{
		display:none;
		position:absolute;
		left:0;
		top:40px;
		z-index:1000;
	}
		#header ul li.last ul{
			right:0;
			left:auto;
		}

		#header ul li ul li{ font-size:90%; }

		#header ul li ul li a{
			padding:7px 10px 7px 10px;
			background:#000000;
			height:auto;
			width:120px;
			font-weight:normal;
		}

		#header ul li ul li:last-child a{
			border-radius:0 0 8px 8px;
			-webkit-border-radius:0 0 8px 8px;
			-moz-border-radius:0 0 8px 8px;
		}

		#header ul li ul li a:hover{ background-color:#444444; }
		#header ul li.hover ul{
			display:block;
		}

#footer{
	padding:10px 10px 30px 10px;
	margin:20px 0 10px 0;
	clear:both;
	text-align:center;
	color:#a1a1a1;
	font-size:80%;
}
#footer a{ color:#a1a1a1; text-decoration:underline; }
	#footer a:hover{ text-decoration:none; }

div.paginator{
	margin:0 0 0 0;
	clear:both;
}

div.paginator p.text{
	float:left;
	margin:0;
	padding:8px 0 0 0;
	font-size:90%;
}

div.paginator ul.list{
	margin:0;
	float:right;
	padding:7px 0 0 16px;
	list-style-type:none;
}

	div.paginator ul.list li.selected a{
		font-weight:bold;
	}

	div.paginator ul.list li{
		float:left;
		margin:0 0 0 5px;
		font-size:90%;
	}

	div.paginator ul.list li a{
		float:left;
		display:block;
		padding:2px 2px 2px 2px;
		text-decoration:none;
	}
	div.paginator ul.list li a:hover{ background-color:#e9e9e9; }

p.alert{
	padding:12px 12px 12px 12px;
	margin:12px 0 7px 0;
	color:#4d4d4d;
	line-height:normal;
	text-align:center;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;	
}

	p.alert a{ color:#4d4d4d; font-weight:bold; }

	p.alert.success{ border:1px solid #9adf8f; background:#d5ffce; }
	p.alert.information{ border:1px solid #a2b4ee; background:#dbe3ff; }
	p.alert.error{ border:1px solid #df8f8f; background:#ffcece; }
	p.alert.warning{ border:1px solid #e6db55; background:#fffbcc; }

img.user-image{
	float:left;
	margin:0 20px 20px 0;
}

p.subtitle{
	color:#999999;
	border-bottom:1px solid #E9E9E9;
	padding-bottom:7px;
}

	p.subtitle span{
		color:#333333;
	}

dl.user-details{
	float:left;
	margin:0 0 20px 0;
}

	dl.user-details dt{
		float:left;
		clear:left;
		width:140px;
		margin:0 0 7px 0;
		font-weight:bold;
	}

	dl.user-details dd{
		float:left;
		margin:0 0 7px 0;
		color:#999999;
	}

ul.member-list{
	margin:0;
	padding:0;
}

	ul.member-list li{
		list-style-type:none;
		margin:12px 0 12px 0;
		padding:0;
		float:left;
		width:250px;
	}

	ul.member-list li h3{
		margin:0 0 7px 0;
	}

	ul.member-list li p{
		margin:0;
		font-size:80%;
		color:#bbbbbb;
	}

	ul.member-list li img{
		float:left;
		margin:2px 10px 0 0;
	}
/* Lists - End */

/* Forms - Start */

form.standard{
	padding:7px 0 17px 0;
	margin:15px 0 6px 0;
	border:1px solid #d9d9d9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background:#f9f9f9;
}

form.titled{
	margin-top:0;	
}

	div.narrow{
		width:386px;
		margin-left:206px;
	}

	form.narrow{
		width:386px;
	}

	form.standard p.float-text{ float:left; margin:6px 5px 0 0; }

	form.standard p.message{
		clear:both;
		padding:6px 0 0 0;
		margin:0;
		font-size:90%;
		color:#AA0002;
	}

	form.standard p.input-remove{
		float:left;
		margin:0;
		padding:4px 0 0 5px;
		width:85px;
	}

	form.standard div.input-list{
		float:left;
	}
		form.standard div.input-list p{ margin:4px 0 0 0; }

	form.standard div.form-field{
		padding:16px 0 16px 15px;
		position:relative;
		clear:left;
	}
		form.standard div.field-captcha{
			padding-top:11px;
		}

		form.standard div.field-captcha label.input-text{
			float:left;
			padding:5px 10px 0 0;
		}

		form.standard div.field-captcha input.input-text{
			float:left;
			width:40px;
			text-align:center;
		}

	form.standard div.form-field-submit,
	form.standard div.form-field-link,
	div.form-field-submit,
	div.form-field-link{
		margin:0 15px 0 0;
		padding:0;
		background:url(../img/form.submit.bg.gif) left top repeat-x;
		-webkit-border-radius:5px;
		text-decoration:none;
		-moz-border-radius:5px;
		border-radius:5px;
		border:1px solid #d4d4d4;
		-moz-box-shadow:0 0 2px #999;
		-webkit-box-shadow:0 0 2px #999;
		box-shadow:0 0 2px #999;
		float:right;
		height:26px;
	}

	div.title-button{ margin:30px 0 0 15px; }

		div.form-field-submit input,
		div.form-field-link a{
			float:left;
			padding:5px 10px 4px 10px;
			font-weight:bold;
			text-decoration:none;
			font-size:90%;
			color:#ffffff;
		}
		div.form-field-link a{ padding:6px 14px 5px 14px; }

			form.standard div.form-field-submit:hover input,
			form.standard div.form-field-submit:hover a,
			div.form-field-submit:hover input,
			div.form-field-link:hover a{ cursor:pointer; }

			form.standard div.form-field-submit:hover,
			form.standard div.form-field-link:hover,
			div.form-field-submit:hover,
			div.form-field-link:hover{
				-moz-box-shadow: 0 0 3px #222;
				-webkit-box-shadow: 0 0 3px #222;
				box-shadow: 0 0 3px #222;
				background-position:left bottom;
			}
	
		form.standard div.field-google,
		form.standard div.field-windowslive,
		form.standard div.field-twitter,
		form.standard div.field-yahoo,
		form.standard div.field-facebook{
			background:none;
			-moz-box-shadow:none;
			-webkit-box-shadow:none;
			margin-top:1px;
			box-shadow:none;
			border:0 none;
		}

		form.standard div.field-google:hover,
		form.standard div.field-windowslive:hover,
		form.standard div.field-twitter:hover,
		form.standard div.field-yahoo:hover,
		form.standard div.field-facebook:hover{
			-moz-box-shadow:none;
			-webkit-box-shadow:none;
			box-shadow:none;
			background:#e9e9e9;
		}

		form.standard div.field-google a,
		form.standard div.field-google input,
		form.standard div.field-windowslive a,
		form.standard div.field-windowslive input,
		form.standard div.field-twitter a,
		form.standard div.field-twitter input,
		form.standard div.field-yahoo a,
		form.standard div.field-yahoo input,
		form.standard div.field-facebook a,
		form.standard div.field-facebook input{
			padding-left:25px;
			color:#333333;
		}

	form.standard div.field-facebook{
		margin-right:10px;
	}
	
		form.standard div.field-facebook a,
		form.standard div.field-facebook input{
			background:5px 5px url(../img/social.facebook.gif) no-repeat transparent;
		}

	form.standard div.field-twitter{
		margin-right:10px;
	}
	
		form.standard div.field-twitter a,
		form.standard div.field-twitter input{
			background:5px 5px url(../img/social.twitter.gif) no-repeat transparent;
		}

	form.standard div.field-windowslive{
		margin-right:10px;
	}
	
		form.standard div.field-windowslive a,
		form.standard div.field-windowslive input{
			background:5px 5px url(../img/social.windowslive.gif) no-repeat transparent;
		}

	form.standard div.field-yahoo{
		margin-right:10px;
	}
	
		form.standard div.field-yahoo a,
		form.standard div.field-yahoo input{
			background:5px 5px url(../img/social.yahoo.gif) no-repeat transparent;
		}

	form.standard div.field-google{
		margin-right:10px;
	}
	
		form.standard div.field-google a,
		form.standard div.field-google input{
			background:5px 5px url(../img/social.google.gif) no-repeat transparent;
		}

	form.standard label{
		display:block;
		padding:0 0 7px 0;
		font-weight:bold;
	}

	form.standard p.tooltip{
		font-size:80%;
		margin:4px 4px 4px 0;
		padding:0;
	}

		form.standard div.focus p.tooltip{
			display:block;
		}

	form.standard select,
	form.standard input.input-text,
	form.standard textarea.input-textarea{
		border:1px solid #cccccc;
		background-color:#fefefe;
		display:block;
		width:618px;
		padding:5px 7px 5px 7px;
	}

	form.standard div.form-field-richtext textarea.input-textarea{
		height:350px;
	}

	form.standard div.form-field-fileimage img{ display:block; margin-bottom:10px; }

	form.standard input.input-text-disabled{
		border:1px solid #e4e4e4;
		color:#999999;
	}

	form.standard input.input-text-disabled-link{
		width:275px;
	}

	form.standard p.input-static{
		margin-top:2px;
		margin-bottom:0;
	}

	form.standard .form-field-date select{
		margin-right:5px;
		float:left;
	}

	form.standard select{ width:356px; padding:5px 4px 5px 7px; }
	form.standard select.select-small{ width:110px; }
	form.standard select.select-xsmall{ width:70px; }
	form.standard select.select-xxsmall{ width:55px; }

		form.standard select.select option{ border:none; padding:0 4px 0 4px; }

	form.standard input.input-text:focus,
	form.standard textarea.input-textarea:focus{
		border-color:#888888;
	}

	form.standard textarea.input-textarea{
		height:180px;
		width:752px;
	}

	form.standard div.field-uri input.input-text{
		width:720px;
		font-size:200%;
	}

	form.standard div.field-comment label{
		display:none;
	}

	div.title-field{
		margin:28px 0 0 25px;
	}

form.narrow select,
form.narrow input.input-text,
form.narrow textarea.input-textarea{
	width:340px;	
}

form.social{
	text-align:center;
	padding:9px 0 0 0;
}

	form.social div.form-field-link{
		float:none;
		display:inline-block;
	}

/* Forms - End */

/* Table Start */
table.list-view{
	width:100%;
	margin:15px 0 0 0;
	border:1px solid #d9d9d9;
}
table.titled{ margin-top:0; }

	table.list-view thead th{
		font-weight:bold;
		padding:11px 4px 11px 11px;
		background:#F1F1F1;
	}

	table.list-view tr:nth-child(odd) td{ background-color:#fafafa; }

	table.list-view td{
		padding:7px 4px 7px 11px;
		border-top:1px solid #d9d9d9;
	}
	
	table.list-view tr:nth-child(even) td{
		background-color:#f7f7f7;
	}

	table.list-view tr td.message{
		text-align:center;
		font-weight:bold;
	}

	table.list-view tr td.title{
		font-weight:bold;
	}
	
	table.list-view tr td.title a{
		text-decoration:none;
	}
	table.list-view tr td.title a:hover{
		color:#666666;	
	}
